semiauto_sg.egg-info
.idea/
*.vcp_persistent_data.pickle
*.var.bak
*.pyc

.project

.pydevproject
.pybuild
bak
debian/.debhelper
debian/files
debian/python3-grinder-touch.*.debhelper
debian/*.debhelper
dist/

linuxcnc/sim.semiauto_sg/halshow.preferences

linuxcnc/sim.semiauto_sg/sim.log

*.log
.settings/
