Package: python3-grinder-touch
Source: grinder-touch
Version: 0.0.1
Architecture: all
Maintainer: Chris Chatelain <digiex_chris@digiex.ca>
Installed-Size: 1630
Depends: python3:any, python3-setuptools, python3-qtpyvcp, qml-module-qtquick-controls, qml-module-qtquick-layouts, python3-yaml, python3-pyqt5, python3-dbus.mainloop.pyqt5, python3-pyqt5.qtopengl, python3-pyqt5.qsci, python3-serial, python3-docopt, python3-qtpy, python3-psutil, python3-pyudev, python3-vtk9, python3-deepdiff, python3-sqlalchemy, python3-pyqtgraph, python3-simpleeval, python3-numpy
Section: python
Priority: optional
Homepage: https://github.com/digiexchris/SurfaceGrinder-linuxcnc-ui
Description: Surface Grinder LinuxCNC Interface
 A surface grinder ui for LinuxCNC that operates a little like a hydrualic grinder, but with a lot more flexibility
