Source: grinder-touch
Section: python
Priority: optional
Maintainer: Chris Chatelain <digiex_chris@digiex.ca>
Build-Depends: debhelper-compat (= 13),
  dh-python, python3-poetry-core,
  python3-qtpyvcp,
  python3-setuptools, python3-yaml, python3-pyqt5, python3-dbus.mainloop.pyqt5, python3-pyqt5.qtopengl, python3-pyqt5.qsci, python3-pyqt5.qtmultimedia, python3-pyqt5.qtquick, qml-module-qtquick-controls, gstreamer1.0-plugins-bad, libqt5multimedia5-plugins, pyqt5-dev-tools, python3-dev, python3-six, python3-docopt, python3-qtpy, python3-pyudev, python3-psutil, python3-markupsafe, python3-opengl, python3-vtk9, python3-pyqtgraph, python3-simpleeval, python3-jinja2, python3-deepdiff, python3-sqlalchemy, python3-serial, , python3-numpy, python3-poetry, python3-pyproject-metadata, pybuild-plugin-pyproject
Standards-Version: 4.5.0
Homepage: https://github.com/digiexchris/SurfaceGrinder-linuxcnc-ui

Package: python3-grinder-touch
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-setuptools, python3-qtpyvcp, qml-module-qtquick-controls, qml-module-qtquick-layouts,  python3-yaml, python3-pyqt5, python3-dbus.mainloop.pyqt5, python3-pyqt5.qtopengl, python3-pyqt5.qsci, python3-serial, python3-docopt, python3-qtpy, python3-psutil, python3-pyudev, python3-vtk9, python3-deepdiff, python3-sqlalchemy, python3-pyqtgraph, python3-simpleeval, python3-numpy
Description: Surface Grinder LinuxCNC Interface
 A surface grinder ui for LinuxCNC that operates a little like a hydrualic grinder, but with a lot more flexibility
